*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TYPOGRAPHY AND TEXT STUFF */
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header a,
.hero-area p {
  font-size: 18px;
  color: #e5e7eb;
}

.header a:hover {
  text-decoration: underline;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
}

.author {
  font-size: 16px;
  font-weight: 900;
  color: black;
}

.locations {
  font-weight: 900;
}

.signup-info {
  color: #f9faf8;
}

.footer p,
.footer a {
  color: grey;
}

.footer-links {
  color: #e5e7eb;
}

.footer-links:hover {
  text-decoration: underline;
}
/* TYPOGRAPHY AND TEXT STUFF */

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  background-color: #1f2937;
}

.header-left {
  display: flex;
  width: 450px;
  justify-content: flex-start;
}

.header-links {
  display: flex;
  width: 450px;
  justify-content: flex-end;
}

.header-links ul {
  display: flex;
  gap: 25px;
}
/* HEADER */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* HERO AREA */
.hero-area {
  background-color: #1f2937;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro {
  width: 450px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.intro p {
  margin-top: 2px;
}

.intro button {
  margin-top: auto;
  flex: none;
  width: auto;
  font-size: 16px;
  padding: 6px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
}

.image-holder {
  width: 450px;
  height: 225px;
  display: flex;
  overflow: hidden;
  background-color: gray;
}

.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* HERO AREA */

/* INFORMATION AREA */
.information {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 35px 0;
}

.blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.img-block img {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 12px;
  border: 3px solid black;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.img-block {
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.img-text {
  display: flex;
  flex-wrap: wrap;
}
/* INFORMATION AREA */

/* QUOTE AREA */
.quote-container {
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
}

.quote-text {
  width: 800px;
}

.author {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
/* QUOTE AREA */

/* SIGNUP SECTION */
.signup-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  background-color: #3882f6;
  border-radius: 50px;
  width: 900px;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.signup-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.signup-btn {
  display: flex;
  justify-content: center;
}

.signup-btn button {
  margin-top: auto;
  flex: none;
  width: auto;
  font-size: 16px;
  padding: 6px 30px;
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
}
/* SIGNUP SECTION */

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  background-color: #1f2937;
}
/* FOOTER */
