*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* TYPOGRAPHY AND TEXT STUFF */
h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.header h2 {
  font-size: 24px;
  color: #f9faf8;
}

.header a,
.hero-area p {
  font-size: 18px;
  color: #e5e7eb;
}
/* TYPOGRAPHY AND TEXT STUFF */

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  background-color: #1f2937;
}

.header-left {
  display: flex;
  width: 450px;
  justify-content: flex-start;
}

.header-links {
  display: flex;
  width: 450px;
  justify-content: flex-end;
}

.header-links ul {
  display: flex;
  gap: 25px;
}
/* HEADER */

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* HERO AREA */
.hero-area {
  background-color: #1f2937;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.intro {
  width: 450px;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.intro button {
  margin-top: auto;
  flex: none;
  width: auto;
  font-size: 16px;
  padding: 8px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #3882f6;
  color: #f9faf8;
}

.image-holder {
  width: 450px;
  height: 225px;
  display: flex;
  overflow: hidden;
  background-color: gray;
}

.image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* HERO AREA */
